/**
 * Typography
 */

body {
  @include GothamBook;
  
  font-size: 14px;
  
  @include media( $secondBreak ) {
    font-size: 16px;
  }
  
  @include media( $firstBreak ) {
    font-size: 18px;
  }
}

h1,
%h1 {
  font-weight: 300;
  font-size: 2em;
  line-height: 1.05;
  text-transform: uppercase;
}

h2,
%h2 {
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.05;
  text-transform: uppercase;
}

h3,
%h3 {
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.05;
  text-transform: uppercase;
}

h4,
%h4 {
  font-weight: 300;
  font-size: 1.111111111em;
  line-height: 1.05;
  text-transform: uppercase;
}


h5,
%h5 {
  font-weight: 300;
  font-size: 1em;
  line-height: 1.05;
  text-transform: uppercase;
}

a:link,
.clickable {
  text-decoration: none
}

.button,
.btn,
.cta {
  font-size: 0.722222222em;
  line-height: 1.05;
  text-transform: uppercase;
  text-align: center;
}

.btn {
  
}

blockquote {
  font-style: italic;
  font-size: 2em;
  font-family: $georgia;
}

// Header
.site-header { text-transform: uppercase; }

// Footer
.site-footer {
  
  .widget-container {
    font-weight: 300;
    font-size: .777777778em;

  }
  
  .widget-title {
    font-weight: 300;
    font-size: 1em;
    text-transform: uppercase;
  }
  
  .widget_nav_menu:nth-child( 4 ) {
      
    .widget-title {
      
      font-style: italic;
      font-size: .857142857em;
      font-family: $georgia;
      
      text-transform: none;
    }
  
  }

}

// Home
.featured-home .post-header { text-align: center; }

// Page

.page-title { @extend %h1; }

.main-page-content { text-align: center; }

.page-content { line-height: 1.388888889; }

.page-header,
.page-footer,
.section-header,
.section-footer,
.post-header,
.post-footer { text-align: center; }

.section-title { @extend %h2; }

// Post

.post-list {
  .post-meta {
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    
    .blog-archive-link {
      font-size: 0.722222222em;
    }
    
    .post-date {
      font-size: 1.111111111em;
      
      span {
        font-size: 1.95em;
      }
    }
  }
  
  .home-price {
    font-size: .888888889em;
  }
  
  .post-header { text-align: left; }
  
  .post-title { font-size: 1.111111111em; }
  
  .post-excerpt {
    font-size: 0.777777778em;
    line-height: 1.571428571;
  }
  
  .address { font-size: 0.842352941em; }
}

.main-page-content .page-content {
  text-align: left;
  
  font-size: .777777778em;
  line-height: 1.571428571;
  
  .home & { text-align: center; }
}


.call-to-action,
.neighborhood-finder,
.post-column {
  text-align: center;
  
  .section-content,
  .column-content {
    font-family: $georgia;
    font-size: .777777778em;
    line-height: 1.571428571;
  }
}

.content-section { text-align: center; }
.content-section .section-content p:last-of-type {
  font-style: italic;
  font-family: $georgia;
  font-size: .877777778em;
  line-height: 1.571428571;
}

.neighborhood-filter-criterion-wrapper {
  label,
  select {
    font-size: .822222222em;
    text-transform: uppercase;
    text-align: center;
  }
}


.listing-meta-wrapper {
  
  &:first-of-type {
    
    @include media( $firstBreak ) {
      text-align: right;
    }
  }
  
  & + .listing-meta-wrapper {
    text-align: left;
  }
  
  a { text-decoration: underline; }
}

.listing-meta {
  
  font-size: 0.9375em;
  
  &.price {
    font-size: 1.25em;
  }
  
  &.listing-neighborhood,
  &.listing-region { font-style: italic; }
}

a.post-location,
.post-location {
  font-style: italic;
  font-size: 0.833333333em;
  
  text-decoration: underline;
}

// Neighborhoods

.neighborhood-list {
  .neighborhood-header {
    text-align: center;
  }
}

// Agents

.agents-archive { text-align: center; }

.agent-list {
  .agent-bio {
    font-style: italic;
  }
}

.agent-details {
  font-size: 1.111111111em;
  
  .agent-meta-title {
    font-size: .65em;
    text-transform: uppercase;
  }
}

.agent-contact-links {
  font-size: .722222222em;
  text-align: center;
  text-transform: uppercase;
}

// Sidebar 

.sidebar .section-title {
  @extend %h5;
}