/**
 * Button
 */

.button,
.btn {
  @include pad( 12px );
  
  background-color: $black;
  color: $red;
  
  border: 0;
  
  @include transition();
  
  &:hover {
    background-color: $red;
    color: $white;
  }
}

.cta {
  @include pad( 14.08px 0 );
  
  color: $red;
  
  border: 1px solid $ltGrey;
  border-width: 1px 0;
  
  @include transition();
  
  &:hover {
    background-color: $red;
    color: $white;
  }
}