/**
 * Featured Home
 */


.featured-home {
  
  .post-content-wrapper {
    
    background-color: $white;
    background-image: url( '../../img/pattern_post-cap.png');
    background-repeat: repeat-x;
    
    
    @include media( $firstBreak ) {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }
}