/**
 * Hero
 */

.slick-list {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  &.slick-slide,
  & .slick-slide {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
  
  .slick-track { height: 100%; }
}


.slick-prev,
.slick-next {
  @extend %ir;
  
  position: absolute;
  top: 50%;
  z-index: 10;
  
  height: 26px;
  width: 20px;
  margin-top: -13px;
  
  //background-color: rgba(0,0,0,0.45);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 26px 20px;
  
  //box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.45);
  
  border: 0;
  //border-radius: 50%;
  
  @include transition( background-image 0.15s ease-out 0s );
  
  .lt-ie9 & {}
  
  &:hover {
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  @include media( $firstBreak ) {
    height: 63px;
    width: 51px;
    margin-top: -26.5px;
    
    background-size: 41px 53px;
  }
}

.slick-prev {
  left: 0px;
  
  background-image: url( '../../img/arrow_left.svg' );
  
  &:hover { background-image: url( '../../img/arrow_left-18181D.svg' ); }
  
  @include media( $firstBreak ) {
    left: 25px;
  }
  
  @at-root .no-svg & {
    background-image: url( '../../img/arrow_left.png' );
    
    &:hover { background-image: url( '../../img/arrow_left-18181D.png' ); }
  }
}

.slick-next {
  right: 0px;
  
  background-image: url( '../../img/arrow_right.svg' );
  
  &:hover { background-image: url( '../../img/arrow_right-18181D.svg' ); }

  @include media( $firstBreak ) {
    right: 25px;
  }
  
  @at-root .no-svg & {
    background-image: url( '../../img/arrow_right.png' );
    
    &:hover { background-image: url( '../../img/arrow_right-18181D.png' ); }
  }
}
