/**
 * Neighborhood Lists
 */
 
.neighborhood-sort {
  color: $grey;
  
  a {
    position: relative;
    display: inline-block;
    margin-left: 32px;
    
    color: black;
    
    &:before {
      content: ' | ';
      
      position: absolute;
      left: -16px;
      
      color: $grey;
    }
  }
}

.neighborhood-list {
  
  .neighborhood-content-wrapper {
    @include content-box();
    
    color: $grey;
    
    border: 0;
  }
  
  .neighborhood-regions {
    display: block;
    
    color: $dkGrey;
  }
  
  .neighborhood-meta {
  }
  
  .avg-home-price { color: $dkGrey; }
}