/**
 * Neighborhood Lists
 */
 
.neighborhood-sort {
  color: $grey;
  
  a {
    display: inline-block;
    color: black;
    
    &:before {
      content: ' | ';
      
      color: $grey;
    }
  }
}

.neighborhood-list {
  
  .neighborhood-content-wrapper {
    @include content-box();
    
    color: $grey;
  }
  
  .neighborhood-regions {
    display: block;
    
    color: $dkGrey;
  }
  
  .neighborhood-meta {}
  
  .avg-home-price { color: $dkGrey; }
}