/**
 * Neighborhood Filter
 */

.tax-scout_quality .neighborhood-filters,
.tax-scout_region .neighborhood-filters,
.post-type-archive-scout_neighborhoods .neighborhood-filters {
  @include content-box( inset );
}

.neighborhood-filter-criterion-wrapper {
  label {
    color: $dkGrey;
  }
  
  select {
    background-color: $white;
    color: $grey;
    
    border: 1px solid $grey;
  }
}
