/**
 * Pagination
 */
 
 .pagination {
   @extend %no-list;
   
   margin-top: 4em;
   
   color: $ltGrey;
   
   li {
     display: inline-block;
     vertical-align: bottom;
     
     white-space: nowrap;
     
     .current { color: $red; }
     
     a {
       display: inline-block;
       @include pad();
       
       color: $dkGrey;
       
       text-decoration: underline;
       
       &.prev,
       &.next {
         @extend %ir;
         
         height: 16px;
         width: 16px;
         
         background-image: url('../../img/arrow_left-18181D.svg');
         background-repeat: no-repeat;
         background-position: bottom;
         background-size: contain;
         
         text-decoration: none;
       }
       
       &.next {
         background-image: url('../../img/arrow_right-18181D.svg');
       }
     }
   }
 }
