/**
 * Patterns
 */

.home-content-wrapper {
  background-image: url( '../../img/pattern_home-hero.png' );
  background-position: center 18px;
  
  .main-page-content {
    position: relative;
    z-index: 1;
    overflow: visible;
    
    &:before {
      content: '';
      
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      
      background-color: transparent;
      background-image: url( '../../img/shield_bg.svg#svgView(preserveAspectRatio(none))' );
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 106% 90%;
      
      @include media( $firstBreak ) {
        top: -20%;
        right: 0;
        bottom: -20%;
        left: 0;
        
        background-size: contain;
      }
      
      @at-root .no-svg & { background-image: url( '../../img/shield_bg.png' ); }
    }
  }
}

.neighborhood-filters,
.neighborhood-finder .small-container {
  background-image: url('../../img/pattern_inset.png');
}


.neighborhood-content-wrapper {
  position: relative;

  &:before {
    content: '';
  
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    display: block;
    width: 80px;
    
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.neighborhood-content-wrapper:before,
.post-list .post-meta {
  background-image: url('../../img/pattern_post-list-header.png');
}

.post-column {
  //background-image: url('../../img/pattern_post-column-cap.png');
  //background-repeat: repeat-x;
  
  position: relative;
  
  &:before {
    content: '';
    
    position: absolute;
    top: -10px;
    right: -10px;
    left: -10px;
    z-index: 1;
    display: block;
    height: 80px;
    
    background-image: url('../../img/pattern_post-column-cap.png');
    background-repeat: repeat-x;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .column-img {
    position: relative;
    z-index: 2;
  }
}

.team-archive .post-column:before {
  background-image: url('../../img/pattern_team.png');
  background-repeat: repeat;
}

.neighborhood-detail,
.page-section.agents-archive:first-of-type,
.page-section.neighborhood-list-wrapper,
.page-section.related-posts {
  position: relative;
  z-index: 1;
  
  &:before {
    content: '';
    
    position: absolute;
    top: 125px;
    bottom: 75px;
    left: 50%;
    z-index: -1;
    
    width: 100vw;
    
    background-image: url('../../img/pattern_content-bg.png');
    
    @include transform( translateX( -50vw ) );
    
  }
}

.site-footer {
  background-image: url('../../img/pattern_footer-bg.png');
}

.footer-wrapper > .widget-container.gform_widget {
  background-image: url('../../img/pattern_email-signup.png');
}

.content-section.call-to-action .small-container,
.find-an-agent {
  background-image: url('../../img/pattern_find-an-agent.png');
}

.agent-info-wrapper {
  background-image: url('../../img/pattern_content-bg.png');
}