/**
 * Post Meta
 */

.post-list {
  .post-meta {
    
    background: $dkGrey;
    color: $grey;
  }
}

.post-meta {
  
  a { color: inherit; }
  
}

.post-img {
  
  .home-price {
    background-color: $black;
    color: $white;
  }
}

.post-region,
.post-neighborhood {
  color: $black;
}

.post-title {
  
  color: $dkGrey;
  
}

.post-excerpt {
  color: $grey;
}

.post-author {
  color: $grey;
}
