/**
 * Post Lists
 */

.neighborhood-finder .container,
.post-column,
.post-list {

  @include content-box();

}

.single .post-list .post-title {

  margin-bottom: 1em;
  
  &:after {
    bottom: -10px;
    left: 0;
    margin-left: 0;
  
  }
}