/**
 * Social
 */

.social {
  display: inline-block;
  min-height: 23px;
  min-width: 28px;
  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 28px 23px;
  
  
  .agent-social & {
    height: 26px;
    width: 32px;
  }

  &.social-facebook {
    
    background-image: url('../../img/social_facebook.svg');
    
    @at-root .no-svg & {
      background-image: url('../../img/social_facebook.png');
    }
  }
  
  &.social-twitter {
    background-image: url('../../img/social_twitter.svg');
    
    @at-root .no-svg & {
      background-image: url('../../img/social_twitter.png');
    }
  }
  
  &.social-pinterest {
    background-image: url('../../img/social_pinterest.svg');
    
    @at-root .no-svg & {
      background-image: url('../../img/social_pinterest.png');
    }
  }
  
  &.social-instagram {
    background-image: url('../../img/social_instagram.svg');
    
    @at-root .no-svg & {
      background-image: url('../../img/social_instagram.png');
    }
  }
  
  a {
    @extend %ir;
    
    display: block;
    height: 100%;
    width: 100%;
  }
  
  .item-wrapper {
    @extend %visuallyhidden;
    
  }
}

