/**
 * Social
 */

.social {
  display: inline-block;
  min-height: 23px;
  min-width: 28px;
  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  
  
  .agent-social & {
    height: 26px;
    width: 32px;
  }

  &.social-facebook {
    
    background-image: url('../../img/social_facebook.svg');
    
    &:hover {
      background-image: url('../../img/social_facebook-hover.svg');
    }
    
    @at-root .no-svg & {
      background-image: url('../../img/social_facebook.png');
      
      &:hover {
        background-image: url('../../img/social_facebook-hover.png');
      }
    }
  }
  
  &.social-twitter {
    background-image: url('../../img/social_twitter.svg');
    
    &:hover {
      background-image: url('../../img/social_twitter-hover.svg');
    }
    
    @at-root .no-svg & {
      background-image: url('../../img/social_twitter.png');
      
      &:hover {
        background-image: url('../../img/social_twitter-hover.png');
      }
    }
  }
  
  &.social-pinterest {
    background-image: url('../../img/social_pinterest.svg');
    
    &:hover {
      background-image: url('../../img/social_pinterest-hover.svg');
    }
    
    @at-root .no-svg & {
      background-image: url('../../img/social_pinterest.png');
      
      &:hover {
        background-image: url('../../img/social_pinterest-hover.png');
      }
    }
  }
  
  &.social-instagram {
    background-image: url('../../img/social_instagram.svg');
    
    &:hover {
      background-image: url('../../img/social_instagram-hover.svg');
    }
    
    @at-root .no-svg & {
      background-image: url('../../img/social_instagram.png');
      
      &:hover {
        background-image: url('../../img/social_instagram-hover.png');
      }
    }
  }
  
  a {
    @extend %ir;
    
    display: block;
    height: 100%;
    min-height: 23px;
    width: 100%;
    min-width: 28px;
  }
  
  .item-wrapper {
    @extend %visuallyhidden;
  }
}

