/**
 * Agents
 */

.agents-archive {
  @include container();
  
  @include box( horizontal, center, center );
  @include display( flex );
  @include align-content( stretch );
  @include align-items( stretch );
  @include justify-content( center );
  @include flex-wrap( wrap );
  
  .section-header {
    @include flex( 1 1 100% );
  }
  
  .post-column {
    
    @include flex( 0 1 flex-grid( 4, $grid-columns ) );
    
    @include pad();
    
    @include media( $firstBreak ) {
      
      max-width: 310px;
      margin-right: flex-gutter();
      margin-bottom: flex-gutter();
      
      &:nth-of-type( 3n ) {
        margin-right: 0;
      }
    }
  }
}

.team-archive {
  .post-column {
    @include flex( 0 1 flex-grid( 3, $grid-columns ) );
    
    @include pad( flex-gutter() * 0.25 );
  }
}

.agent-list {
  
  .agent-photo {
    height: 185px;
  }
  
  a {
    color: inherit;
    
    &:hover .agent-name { color: $red; }
  }
}

.find-an-agent {
  @include box( vertical, center, center );
  @include display( flex );
  @include flex-direction( column );
  @include align-content( center );
  @include align-items( center );
  @include justify-content( center );
  
  &.post-column:before { display: none; }
  
  > * {
    @include flex ( 0 1 auto );
  }
  
  .post-title {
    margin-bottom: 1.85em;
  }
  
  .btn {
    width: 100%;
    margin-top: 2em;
  }
}

// Agent Detail

.agent-title {
  
  margin-bottom: 1.5em;
  
  @include transition();
  
  &:after {
    bottom: -10px;
  }
}

.agent-info-wrapper {
  @include pad( 2em 0 );
}

.agent-info {
  @include box( horizontal, center, center );
  @include display( flex );
  @include align-content( stretch );
  @include align-items( stretch );
  @include justify-content( center );
  @include flex-wrap( wrap );
  
  @include media( $firstBreak ) {
    @include flex-wrap( nowrap );
  }
  
  .agent-photo,
  .agent-details {
    @include flex( 0 1 flex-grid( 10, $grid-columns ) );
    
    @include media( $firstBreak ) {
      @include flex( 0 1 flex-grid( 5, $grid-columns ) );
    }
  }
  
  .agent-photo {
    height: 290px;
    
    @include media( $firstBreak ) {
      margin-right: flex-gutter();
      margin-bottom: 0;
    }
  }
  
  .agent-details {
    @extend %no-list;
    
    @include box( vertical, center, center );
    @include display( flex );
    @include flex-direction( column );
    @include align-content( center );
    @include align-items( flex-start );
    @include justify-content( center );
    
    @include media( $firstBreak ) {
      
    }
    
    > * {
      @include flex ( 0 1 auto );
      
    }
    
    a { color: inherit; }
    
    .agent-meta {
      margin-bottom: 1em;
      
      &:last-of-type { margin-bottom: 0; }
    }
    
    .agent-meta-title {
      display: block;
    }
    
    .agent-social {
      margin-top: 0.25em;
    }
    
    .social {
      .icon {
        @extend %ir;
        
        display: block;
        height: 100%;
        width: 100%;
      }
    }
  }
}

.agent-contact {
  margin-top: 2em;
  margin-bottom: 4em;
}

.agent-contact-links {
  @extend %no-list;
  @include clearfix();
  
  > * {
    @include span-columns( 4 );
    @include omega( 3 );
  }
  
  a {
    display: block;
    width: 100%;
  }
}