/**
 * Footer
 */

.site-footer {
  @extend %no-list;
  
  
  .copyright { @extend %visuallyhidden; }
  
  a { color: inherit; }
}

.navigation-footer,
.footer-wrapper {

  @include box( horizontal, center, center );
  @include display( flex );
  @include align-content( stretch );
  @include align-items( stretch );
  @include justify-content( space-between );
  @include flex-wrap( wrap );
  
  > .widget-container {
    @include flex( 1 1 100% );
    
    @include pad( 2em flex-gutter() );
    
    @include media( $firstBreak ) {
      @include flex( 1 1 33% );
      
      max-width: 33%;
      @include pad( );
      padding-top: 40px;
    }

    &.widget_nav_menu {
      @include flex( 1 1 100% );
      @include order( 5 );
    
      @include media( $firstBreak ) {
        @include flex( 1 1 66% );
        
        padding-top: 0;
      }
    
      &:first-child {
        @include flex( 1 1 100% );
        @include order( 0 );
      }
    }

    &.gform_widget {
      
      background-color: $footerGrey;
      
      @include media( $firstBreak ) {
        
        @include pad( 40px flex-gutter() );
        //padding-bottom: 40px;
      }
    }
    
    .widget-title {
      margin-top: 0;
      margin-bottom: 0.75em;
      
      color: $dkGrey;
      
      a { color: $red; }
    }
    
    .textwidget {
      
      span {
        display: block;
      }
    }
  }
}

.menu-footer-nav-container {
  @include container();

  width: 100%;
}

.navigation-footer {
  @include media( $firstBreak ) {
    @include flex-wrap( nowrap );
  }
}

.navigation-footer .menu {
  
  @include box( horizontal, center, center );
  @include display( flex );
  @include align-content( stretch );
  @include align-items( stretch );
  @include justify-content( space-between );
  @include flex-wrap( wrap );
  
  width: 100%;
  
  @include media( $firstBreak ) {
    @include flex-wrap( no-wrap );
    
    //height: 90px;
  }
  
  .page-home & {
    display: none;
  }
  
  .menu-item {
    @include flex( 1 1 100% );
    
    @include box( horizontal, center, center );
    @include display( flex );
    @include align-content( stretch );
    @include align-items( stretch );
    @include justify-content( center );
    
    //@include pad();
    
    @include media( $firstBreak ) {
      @include flex( 0 1 33% );
      
      &:nth-child(2) {
        position: relative;
        
        &:before,
        &:after {
          content: '';
          
          position: absolute;
          top: 2em;
          left: 1px;
          bottom: 2em;
          width: 1px;
          
          background-color: $white;
        }
        
        &:after {
          left: auto;
          right: 1px;
        }
      }
    }
    
    a {
      
      @include flex( 1 1 100% );
      
      @include pad( 2em 0 );
      
      .item-wrapper,
      .sub {
        display: block;
      }
      
      br { display: none;}
      
      .item-wrapper {
        margin: 0;
        
        color: $dkGrey;
      }
    }
  }
}

.footer-wrapper {
}

.widget_nav_menu:nth-child( 3 ) {
  width: 100%;
  
  @include media( $firstBreak ) {
    max-width: 66%;
    margin-top: -60px;
    padding-top: 0;
  }
  
  .widget-title {
    display: inline-block;
    width: 100%;
    margin: 1.5em 0;
    
    @include media( $firstBreak ) {
      width: 50%;
      margin: 0;
    }
  }
}

.menu-social-container {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  
  @include media( $firstBreak ) {
    width: 50%;
    padding-top: 0;
    padding-left: flex-gutter() * 1.5;
  }
  
  .menu-item {
    display: inline-block;
    
    a {
      
      @include pad( 22px );
      
      @include media( $firstBreak ) {
        @include pad( 0 );
      }
    }
  }
}

.email-signup {
  @include box( horizontal, center, center );
  @include display( flex );
  @include align-content( stretch );
  @include align-items( flex-end );
  @include justify-content( space-between );
  @include flex-wrap( wrap );
  
  min-height: 100px; 
  
  .gform_ajax_spinner { position: absolute; }

  
  .gform_heading {
    @include flex( 1 1 100% );
    @include order( 3 );
    
    margin-top: 1em;
  }
  
  .gform_body {
    @include flex( 0 1 55% );
    
    padding-bottom: 1px;
    
    .ginput_container,
    input { max-width: 100%; }
    
  }
  
  .gform_footer {
    @include flex( 1 1 45% );
    
    .button { 
      height: 28px;
      width: 100%;
      @include pad( 0 12px );
    }
  }
  
  .gform_confirmation_message {
    @include flex( 1 1 100% );
    @include align-self( flex-start );
  }
  
}
