/**
 * Header
 */

.site-header {
  @extend %no-list;
  
  margin-bottom: 2em;
  @include pad( flex-gutter() 0 );
  
  box-shadow: 0 1px 4px rgba(24,24,29,.5);

  @include media( $firstBreak ) {
    margin-bottom: 4em;
    @include pad( 0 );
  }
}

.menu-top-nav-container .menu {
  @include box( horizontal, center, center );
  @include display( flex );
  @include align-content( stretch );
  @include align-items( stretch );
  @include justify-content( center );
  @include flex-wrap( wrap );
  
  @include media( $firstBreak ) {
    @include flex-wrap( nowrap );
  
    height: 90px;
  }
  
  .menu-item {
    @include flex( 1 1 100% );
    
    @include box( horizontal, center, center );
    @include display( flex );
    @include align-content( stretch );
    @include align-items( center );
    @include justify-content( center );
    
    @include media( $firstBreak ) {
      @include flex( 1 1 auto );
    }
    
    a {
      @include flex( 1 1 100% );
      
      @include box( horizontal, center, center );
      @include display( flex );
      @include align-content( center );
      @include align-items( center );
      @include justify-content( center );
      
      margin-bottom: 0.25em;
      @include pad();
      
      
      color: $black;
      
      @include transition();
      
      @include media( $firstBreak ) {
        margin-bottom: 0;
        @include pad( 0 );
      }
      
      &:hover {
        color: $grey;
      }
      
      .item-wrapper {
        @include flex( 0 1 auto );
      }
    }
  }
}