/**
 * Header
 */

.site-header {
  @extend %no-list;
  
  position: relative;
  margin-bottom: 0em;
  @include pad( flex-gutter() 0 );
  
  box-shadow: 0 1px 4px rgba(24,24,29,.5);

  @include media( $firstBreak ) {
    min-height: 90px;
    margin-bottom: 4.6em;
    @include pad( 0 );
  }
  
  .container {
    position: relative;
    @include media( max-width $firstBreak ) {
      @include clearfix();
      
      @include pad();
      padding-top: 0;
      padding-bottom: 0;
    }
    
    @include media( $firstBreak ) {
      @include pad( 0 );
    }
  }
}

.site-title {
  display: inline-block;
  margin: 0;
  float: left;
  vertical-align: middle;
  
  @include media( $firstBreak ) {
    display: none;
  }
  
  a {
    display: block;
  }
}

.nav-toggle {
  display: inline-block;
  height: 59px;
  width: 60px;
  float: right;
  vertical-align: middle;
  
  background-image: url('../../img/hamburger.svg');
  background-repeat: no-repeat;
  background-position: center;
  
  @include media( $firstBreak ) {
    display: none; 
  }
  
  @at-root .no-svg & {
    background-image: url('../../img/hamburger.png');
  }
}

.navigation-main {
  clear: both;
  
  
  @include media( max-width $firstBreak ) {
    .js &.nav-collapse {
      top: 73px;
      left: 0;
      right: 0;
      max-height: 0;
      opacity: 0;
      
      background: $black;
      
      .menu-item { color: $white; }
      
      &.opened {
        z-index: 10;
        max-height: 99em;
        opacity: 1;
      }
    }
  }
  
  @include media( $firstBreak ) {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 90px;
  }
}

.menu-top-nav-container .menu {
  @include box( horizontal, center, center );
  @include display( flex );
  @include align-content( stretch );
  @include align-items( stretch );
  @include justify-content( center );
  @include flex-wrap( wrap );
  
  @include media( $firstBreak ) {
    @include flex-wrap( nowrap );
  
    height: 90px;
  }
  
  @include media( max-width $firstBreak ) {
    @include pad( 1em 0 );
  }
  
  .menu-item {
    @include flex( 1 1 100% );
    
    @include box( horizontal, center, center );
    @include display( flex );
    @include align-content( stretch );
    @include align-items( center );
    @include justify-content( center );
    
    margin-bottom: 0;
    
    color: $black;
    
    &:after { display: none; }
    
    @include media( $firstBreak ) {
      @include flex( 1 1 auto );
      
      &:after {
        bottom: 25px;
        display: none;
        width: 30px;
        margin-left: -15px;
      }
      
      &.current-page-ancestor:after,
      &.current_page_item:after { display: block; }
    }
    
    &.scout-logo {
      max-width: 133px;
      
      &:after { display: none; }
      
      @include media( max-width $firstBreak ) {
        display: none;
      }
    }
    
    a {
      @include flex( 1 1 100% );
      
      @include box( horizontal, center, center );
      @include display( flex );
      @include align-content( center );
      @include align-items( center );
      @include justify-content( center );
      
      @include pad();
      padding-top: 6%;
      padding-bottom: 6%;
      
      opacity: 1;
      
      color: inherit;
      
      @include transition();
      
      @include media( $firstBreak ) {
        margin-bottom: 0;
        @include pad( 0 );
      }
      
      &:hover {
        opacity: 0.7;
      }
      
      .item-wrapper {
        @include flex( 0 1 auto );
      }
    }
  }
}