/**
 * Home
 */

.home {
  
  .home-content-wrapper {
    margin-bottom: 2em;
    
    @include media( $firstBreak ) { margin-bottom: 0; }
  }
  
  .main-page-content {
    
    @include pad( flex-gutter() * 1.5 );
    padding-top: 6em;
    padding-bottom: 6em;
    
    @include media( $firstBreak ) {
      width: 36.345486111em;
      @include pad( 0.55781em 5.23212em );
    }
    
    .page-header {
      
      @include media( $firstBreak ) {
        max-width: flex-grid( 5, 6 );
        margin-left: auto;
        margin-right: auto;
      }
      
      .page-title {
        margin-top: 0;
        margin-bottom: 0.85em;
        
        &:after {
          bottom: -13px;
          width: 80px;
          margin-left: -40px;
        }
      }
    }
    
    .page-content {
      //@include columns( 1 );
      
      p {
        margin-bottom: 1.15em;
        
        &:last-child { margin-bottom: 0; }
      }
      
      .cta {
        padding: 13.08px 32px;
      }
    }
  }
}

.hero-wrapper,
.hero-img {
  position: relative;
  height: 320px;
  width: 100%;
  margin-bottom: 0;
  
  @include media( $secondBreak ) {
    height: 415px;
  }
  
  @include media( $firstBreak ) {
    height: 650px;
  }
}

.featured-home {
  margin-bottom: 2.85em;
  
  .post-content-wrapper {
    
      
    padding-top: 4.25em;
    
    @include media( $firstBreak ) {
      position: relative;
      z-index: 10;
      max-width: 880px;
      margin-top: -9em;
    }
    
  }
  
  .post-title {
    margin-top: 0;
    margin-bottom: 1em;
  }
  
  .post-excerpt {
    
    color: $grey;
    
    @include media( $firstBreak ) {
      @include span-columns( 4 of 8 );
      @include omega();
    }
  }
  
  
  .post-footer {
    padding-top: 2em;
    clear: both;
    
    .cta {
      display: block;
    }
  }
}

.post-column-wrapper {
  .post-column {
    margin-left: 5px;
    margin-right: 5px;
    
    @include media( $firstBreak ) {
      margin-top: 0;
      margin-bottom: 0;
    margin-left: $half-gutter;
    margin-right: $half-gutter;
    }
  }
}

.neighborhood-finder {
}