/**
 * Post
 */

// Post Archive

// Post List

.post-list {
  
  @include box( horizontal, center, center );
  @include display( flex );
  @include align-content( flex-start );
  @include align-items( stretch );
  @include justify-content( center );
  @include flex-wrap( nowrap );
  
  margin-right: auto;
  margin-bottom: 2em;
  margin-left: auto;
  
  @include pad( 0 );
  
  @include media( $firstBreak ) {
    @include flex-wrap( nowrap );
  
    max-width: 990px;
  
    @include pad( 10px );
  }
  
  &.has-post-thumbnail {
    @include flex-wrap( wrap );
    
    @include media( $firstBreak ) {
      @include flex-wrap( nowrap );
    }
  }
  
  .post-meta {
    
    @include flex( 0 1 50px );
    
    @include box( vertical, center, center );
    @include display( flex );
    @include flex-direction( column );
    @include align-content( center );
    @include align-items( flex-start );
    @include justify-content( center );
    
    min-width: 50px;
    max-width: 50px;
    @include pad( flex-gutter() 0 );
    
    @include media( $firstBreak ) {
      @include flex( 1 0 75px );
      
      min-height: 145px;
      max-width: 75px;
      
      & + .post-content-wrapper { max-width: none; }
    }
    
    .blog-archive-link,
    .post-date,
    .post-date span {
      
      @include flex( 0 1 auto );
      
      display: block;
      width: 100%;
    }
    
    .blog-archive-link {
      &:after {
        bottom: -8px;
        width: 20px;
        margin-left: -10px;
      }
    }
  }
  
  .post-img {
    @include flex( 1 1 auto );
    
    @include box( horizontal, center, center );
    @include display( flex );
    @include align-content( stretch );
    @include align-items( stretch );
    @include justify-content( center );
    
    margin: 0;
    
    @include media( $firstBreak ) {
      @include flex( 1 0 395px );
      
      //max-width: flex-grid( 5.5, 12 );
    }
    
    & + .post-content-wrapper {
      @include flex( 1 1 100% );
    }
    
    a {
      @include flex( 1 1 100% );
      
      @include box( vertical, center, center );
      @include display( flex );
      @include flex-direction( column );
      @include align-content( stretch );
      @include align-items( stretch );
      @include justify-content( center );
    }
    
    .fake-img {
      
      @include flex( 1 1 140px );
      
      @include media( $firstBreak ) {

        @include flex( 1 1 265px );

      }
    }
    
    .home-price {
      @include flex( 1 1 auto );
      
      min-height: 43px;
      max-height: 43px;
      
      @include pad();
    }
  }
  
  .post-content-wrapper {
    @include flex( 0 1 auto );
    
    @include pad();
    
    @include media( $firstBreak ) {
      @include flex( 0 1 auto );
      
      @include box( vertical, center, center );
      @include display( flex );
      @include flex-direction( column );
      @include align-content( center );
      @include align-items( flex-start );
      @include justify-content( center );
      
      //max-width: flex-grid( 5.5, 12 );
      
      padding-top: 0;
      padding-bottom: 0;
    }
    
    &
    
    > * {
      @include flex( 0 1 auto );
    }
  }
  
  .post-region,
  .post-neighborhood {
    display: inline-block;
    
    margin-bottom: 0.5em;
  }
  
  .post-title {
    margin-top: 0;
    margin-bottom: 0.25em;
    
    @include media( $firstBreak ) {
      margin-bottom: 0.5em;
    }
  }
  
  .post-excerpt {

  }
}

// Post Column

.post-column-wrapper {
  
  @include box( vertical, center, center );
  @include display( flex );
  @include flex-direction( row );
  @include align-content( stretch );
  @include align-items( stretch );
  @include justify-content( space-between );
  @include flex-wrap( wrap );
  
  margin-bottom: 3.5em;
  padding-left: 0;
  padding-right: 0;

  @include media( $firstBreak ) {
    @include flex-wrap( nowrap );
    
    max-width: 1016px;
  }
  
  @at-root .no-flexbox.no-flexboxlegacy & {
    
  }
  
}

.post-column {
  
  @include flex( 1 1 100% );
  
  @include box( vertical, center, center );
  @include display( flex );
  @include flex-direction( column );
  @include align-content( stretch );
  @include align-items( stretch );
  @include justify-content( space-between );
  
  margin-bottom: 2em;
  @include pad( 25px 15px );

  @include media( $firstBreak ) {
    
    @include flex( 1 1 flex-grid( 4, 12 ) );
    
    max-width: 310px;
    margin-bottom: 0;
    @include pad( 25px 15px );
    
  }
  
  @at-root .no-flexbox.no-flexboxlegacy & {
    
    @include span-columns( 4 );
    
  }
  
  > *,
  a > * {
    @include flex( 0 1 auto );
  }
  
  > a {
    @include flex( 1 1 auto );
    
    @include box( vertical, center, center );
    @include display( flex );
    @include flex-direction( column );
    @include align-content( stretch );
    @include align-items( stretch );
    @include justify-content( space-between );
  }
  
  .post-img {
    width: 100%;
    max-width: 254px;
    height: 172px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.15em;
    
    border: 5px solid $white;
    border-radius: 5px;
    
    @include media( $firstBreak ) {
      
    }
    
    .fake-img { min-height: 0; }
  }
  
  .column-header { color: $dkGrey; }
  
  .column-content { color: $grey; }
  
  .column-title {
    margin-top: 0;
    margin-bottom: 0.5em;
  }
  
  .section-footer { }
  
  .cta {
    display: block;
    width: 100%;
  }
}

// Post Detail

.post-content-wrapper {
  @include clearfix();
  
  padding-left: flex-gutter();
  padding-right: flex-gutter();
  
  
  @include media( $firstBreak ) {
    max-width: flex-grid( 10, 12 );
    margin-left: auto;
    margin-right: auto;
    padding-left: flex-grid( 1, 10 );
    padding-right: flex-grid( 1, 10 );
  }
  
  .listing-meta-wrapper {
    
    @include media( $firstBreak ) {
      
      @include span-columns( 4 of 8 );
      
    }
    
    &:nth-of-type( 2n ) {
      @include media( $firstBreak ) {
        @include omega();
      }
    }
  }
}


// Home Listing Meta
.listing-meta-wrapper {
  @include clearfix();
  
  margin-bottom: 2em;
}

.listing-meta {
  display: block;
  
  &.price,
  &.listing-neighborhood,
  &.listing-region {
    margin-bottom: 0.5em;
    
    @include media( $firstBreak ) {
    }
  }
  
  &.listing-address {
    margin-top: 1.25em;
    margin-bottom: 1em;
    
    @include media( $firstBreak ) {
      margin-bottom: 0;
    }
  }
}

.address {
  margin-bottom: 1em;
  
  .address-street_address {
    display: block;
  }
}


// Post Images
.post-img {
  .fake-img {
    min-height: 140px;
    
    @include media( $firstBreak ) {
      min-height: 265px;
    }
  }
}

// Post Detail

.post-detail {
  
  &.has-post-img {
    
    margin-top: -4.1em;
    
    .post-content-wrapper {
      padding-top: 4.09em;
      
      background-color: $white;
      background-image: url( '../../img/pattern_post-cap.png');
      background-repeat: repeat-x;
      
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      
      @include media( $firstBreak ) {
        position: relative;
        z-index: 10;
        max-width: 880px;
        margin-top: -9em;
      }
    }
  }
  
  
  .agent-contact {
    
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
    clear: both;
  }
  
  .post-meta {
    @include box( horizontal, center, center );
    @include display( flex );
    @include align-content( stretch );
    @include align-items( stretch );
    @include justify-content( center );
    @include flex-wrap( wrap );
    
    margin-top: 3em;
    margin-bottom: 3em;
    clear: both;
    
    @include media( $firstBreak ) {
      @include flex-wrap( nowrap );
    }
    
    > * {
      @include flex( 1 1 100% );
      
      @include media( $firstBreak ) {
        @include flex( 1 1 50% );
      }
    }
    
    .post-date {
    }
    
    .post-author {}
    
    .agent-photo {
      display: inline-block;
      height: 40px;
      width: 40px;
      margin: 0;
      vertical-align: middle;
      overflow: hidden;
      
    	border-top-left-radius: 20px;
    	border-bottom-left-radius: 20px;
    	border-bottom-right-radius: 20px;
    	border-top-right-radius: 20px;
    	border-radius: 20px;
      
    }
  }
}

// Related Posts

.related-posts {
  
  .related-posts-header {
    margin-bottom: 0.35em;
  }
}


blockquote {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  padding-left: 3em;
  padding-right: 1em;
  
  color: $dkGrey;
  
  border: 3px solid $dkGrey;
  border-width: 3px 0;
  
  &:before {
    content: '“';
    
    position: absolute;
    left: 0;
    z-index: -1;
    padding-right: 1em;
    opacity: 0.15;
    
    color: $grey;
  }
}