/* colors */
$black: #18181D;
$footerBlack: #1b1b1f;
$dkGrey: #4B4B50;
$footerGrey: #252529;
$grey: #8E8E95;
$ltGrey: #d8d8e0;
$red: #FF4338;
$white: #ffffff;

/* breakpoints */
$firstBreak : em( 767 );
$secondBreak : em( 567 );

/* font-face */
$gotham: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
$georgia: 'Georgia', serif;

/* prefixer settings */
$prefix-for-webkit: false;
$prefix-for-mozilla: false;
$prefix-for-microsoft: false;
$prefix-for-opera: false;
$prefix-for-spec: true;

/* slick-carousel */
$slick-font-path: '../vendor/fonts/slick-carousel/';
$slick-loader-path: '../vendor/img/slick-carousel/';
$slick-arrow-color: $white; 
$slick-dot-color: $white;
$slick-prev-character: '\0x20';
$slick-next-character: '\8194';
$slick-dot-character: '\2022';
$slick-prev-character: '<';
$slick-next-character: '>';
$slick-dot-character: '\2022';
